<div class="jumbotron booking header"> 
  <h1>Bookings</h1>
</div>

<table class="table table-inverse">

  <tr>
    <th>Flight Number</th>
    <th>Date</th>
    <th>Departing</th>
    <th>Arriving</th>
  </tr>

  <tr>
    <td><%= @flight.id%>0</td>
    <td><%= @flight.start%></td>
    <td><%= @from%></td>
    <td><%= @to%></td>
  </tr>
</table>
<%= form_for @booking do |f| %>

  <%= f.hidden_field(:passengers_number,value: @passengers) %>
  <%= f.hidden_field(:flight_id,value: @flight.id) %>
  <%  @passengers.times do |count| %>
    <h2>Passenger <%=count+1%></h2>
  <%= f.fields_for :passengers do |form| %>
    
 
    <%= form.label(:name) %>
    <%= form.text_field(:name, class:"form-control") %>

    <%= form.label(:email) %>
    <%= form.text_field(:email, class:"form-control") %>
  <% end %>
<% end %>
 <%= f.submit("Submit", class:"btn") %>

<% end %>

