<div class="jumbotron black">

  <h1 class="center">Booking Id: <%=@booking.id%>0</h1>
  <p><strong>Flight id: </strong><%= @booking.flight_id%>0</p>
  <p><strong>From: </strong><%=@from%>     To: <%=@to%></p>
  <p><strong>Date:</strong> <%=@flight.start.to_date%></p>

  <h2 class="center"><strong>Passenger Information </strong></h2>
  <% @booking.passengers.each_with_index do |passenger, index| %>
    <div class="passenger"> 
    <h2>Passenger <%= index+1%></h2>


    <p><strong>Name: </strong><%=passenger.name%></p>
    <p><strong>Email: </strong><%=passenger.email%></p>
    </div>
  <% end %>


</div>
